header{
    background-color: #E6E6FA; /*color de fondo header*/
    padding-top: 0.2px; /*margen interna superior*/
    padding-bottom: 0.2px; /*margen interna inferior*/
    margin-bottom: 80px; /*margen externa inferior del header*/
  }
  
  header ul li{
    list-style-type: none; /*eliminar viñeta*/
    display: inline; /*display en línea*/
    margin-right: 40px; /*margen derecha*/
    color: black; /*color letra*/
  }
  
  header ul{
    text-align: center; /*centrar texto de la lista ul*/
  }

  form{
      border: 1px solid #000; /*bordo del formulario*/
      margin-top: 20px; /*margen superior*/
      background-color: #E6E6FA; /*color de fondo del formulario*/
      padding: 10px; /*margen interna, todos los lados*/
      margin-left: 500px; /*margen externa izquierda*/
      margin-right: 500px; /*margen externa derecha*/
      border-radius: 10px; /*redondear bordo del formulario*/
  }

  form, label, input, textarea{
      margin-top: 10px; /*margen externa superior*/
      margin-bottom: 10px; /*margen externa inferior*/
  }

  form textarea{
    padding-right: 70px; /*margin interna derecha*/
    resize: none; /*permite que no se pueda expandir el textarea manualmente*/
  }
 

  body{
    background: linear-gradient(to right, rgb(98, 98, 155), white); /*gradiente (degradado de colores)*/
  }